<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
    <h1 class="head"><%=dataText%></h1>
    <div class="line start"></div><div class="line middle"></div><div class="line end"></div>
    <p class="texts"> 
    Express static folder sat to "views" folder <br>
    HTML head loaded from "partials/header.ejs" folder using EJS <br>
    CSS loaded from views/styles/mainStyle.css 
    </p>
</body>
</html>